@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Playfair+Display&display=swap');
:root{
--font-title:'Dosis', sans-serif;
--font-paragraph:'Playfair Display', serif;
--color-dark-green:#009458;
--color-light-green:#69BF97;
--color-background:#F0F0F0;
--color-graphic-fear:#BA62FF;
--color-graphic-angry:#FF5E5E;
--color-graphic-sad:#5DF5FF;
--color-graphic-happy:#F2EB43;
--color-graphic-confusion:#77FF48;
--color-average-face-red:#FF0000;
--color-average-face-orange:#FF6B00;
--b_m: none;

}
*{
  box-sizing: border-box;
  margin: 0%;
}
h1, h2, h3, h4{
  font-family: var(--font-title);
}
p{
  font-family: var(--font-paragraph);
}

/*    ESTILOS yy    */
.modal{
  margin: auto;
  width: 90%;
  padding: 100px 0px 0px 0px;
  text-align: center;
}

#show-modal{
  color: black;
  background: var(--color-light-green);
  padding: .5rem 23rem;
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.15s linear;

}

#show-modal:hover{
  cursor: pointer;
  background: var(--color-dark-green);
}

.modal-in{
  position: fixed;
  top: -100hv;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100hv;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.modal-in .content-modal{
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: -100vh;
  transition: top 0.35s ease;
  margin-left: -250px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 8;
  border-radius: 6px; /*sombra*/
}

.modal-in h2{
  padding: 0.5em;
  color: white;
  text-align: center;
  margin: 0%;
  background: var(--color-dark-green);
  border-radius:  6px 6px 0px 0px;
} 

.modal-in article{
  height: 420px;
  background: var(--color-background);
  border-radius: 0px 0px 6px 6px;
}

.close-modal{
  color: white;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0%;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

body::before{
  content: "";
  position: absolute;
  display: var(--b_m);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
  z-index: 7;
}

.modal-in:target{
  opacity: 1;
  top: 0;
  
}

.modal-in .btn-close-modal{
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.modal-in:target .content-modal{
  top: 100px;
  transition: top .35s ease;
}

article{
  overflow: auto;
  justify-content: center;
}

article::-webkit-scrollbar{
  width: 10px;
}
article::-webkit-scrollbar-track{
  background:var(--color-light-green);
  border-radius: 0px 0px 6px 6px;
}
article::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color:var(--color-dark-green);
}


ul{
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 10px 0px;
  margin: 0px;
}

.li-modal{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #009458;
  font-family: var(--font-title);
  font-size: 20px;
  padding: 10px 90px;
}

.li-modal-list{
  position: relative;
  padding: 5px 0px;
  margin: 10px auto;
  width: 300px;
  text-decoration: none;
  color: #009458;
  background: white;
  font-family: var(--font-title);
  border: #009458 2px solid;
  border-radius: 6px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

.li-modal-list-first{
  position: relative;
  padding: 5px 0px;
  margin: 5px auto;
  width: 300px;
  text-decoration: none;
  color: #009458;
  background: white;
  font-family: var(--font-title);
  border: #009458 2px solid;
  border-radius: 6px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

@media (max-width: 943px){
  #show-modal{
    padding: .5rem 16rem;
  }
  .modal-in .conten{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
}

@media (max-width:425px){
  #show-modal{
    padding: .5rem 5rem;
  }
}