@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Playfair+Display&display=swap');
:root{
--font-title:'Dosis', sans-serif;
--font-paragraph:'Playfair Display', serif;
--color-dark-green:#009458;
--color-light-green:#69BF97;
--color-background:#F0F0F0;
--color-graphic-fear:#BA62FF;
--color-graphic-angry:#FF5E5E;
--color-graphic-sad:#5DF5FF;
--color-graphic-happy:#F2EB43;
--color-graphic-confusion:#77FF48;
--color-average-face-red:#FF0000;
--color-average-face-orange:#FF6B00;
}
*{
  box-sizing: border-box;
  margin: 0%;
}
h1, h2, h3, h4{
  font-family: var(--font-title);
}
p{
  font-family: var(--font-paragraph);
}

/* JLBI */
body {
  background-color: var(--color-background);
}
p{
  font-size: 15px;
}
.container {
  text-align: center;
  padding: 0% 5%;
}

.border {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  margin: 0% 0% 3% 0%;
}

.photo{
  margin: 4% auto 1% auto;
}

.title-secondary {
  width: 100%;
  background-color: var(--color-light-green);
  font-weight: normal;
  padding: 1%;
}
.bg-white {
  background-color: white;
}
.student-info{
  text-align: justify;
  padding: 3%;
}
.activities-info{
  padding: 5% 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.activities-info > h3{
  font-weight: normal;
  font-size: 20px;
}
h4{
  font-weight: normal;
  text-align: center;
  padding: 5% 0%;
}
.activities-info > h3,
.activities-info > p
{
  margin-bottom: 10%;
}